<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
</head>
<body>

	<!-- HEADER -->
	<div th:insert="header :: header"></div>


	<!-- MAIN CONTENT -->
	<div class="container">
		<h2><i class="fa-solid fa-users"></i> Employee Management System</h2>

		<!-- Add Employee Button -->
		<div class="mb-3">
			<a href="/add-employee" class="btn btn-success "><i class="fa-solid fa-user-plus"></i> Add Employee</a>
		</div>

		<!-- Filters -->
		<div class="row mb-4">
			<div class="col-md-9">
				<form action="/employees/filter-by-department" method="get"
					class="d-flex">
					<input type="text" name="department" class="form-control"
						placeholder="Department" required style="max-width: 250px;">
					<button type="submit" class="btn btn-secondary  ms-2"><i class="fa-solid fa-filter"></i> Filter</button>
				</form>
			</div>
			<div class="col-md-3">
				<form action="/employees/sort-by-salary" method="get" class="d-flex">
					<label for="salarySort" class="form-label mb-0 me-2">Salary:</label>
					<select name="sortOrder" id="salarySort" class="form-select"
						required>
						<option value="asc">Asc</option>
						<option value="desc">Desc</option>
					</select>
					<button type="submit" class="btn btn-secondary ms-2"style="display: flex; ">
  <i class="fa-solid fa-sort" style="margin-right:1rem;margin-top:5px;"></i> Sort
</button>
				</form>
			</div>
		</div>

		<!-- Employee Table -->
		<table class="table table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Age</th>
					<th>Position</th>
					<th>Department</th>
					<th>Email</th>
					<th>Salary</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employeeObject}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.age}"></td>
					<td th:text="${employee.position}"></td>
					<td th:text="${employee.department}"></td>
					<td th:text="${employee.email}"></td>
					<td th:text="${employee.salary}"></td>
					<td><a th:href="@{'/update/'+${employee.id}}"
						class="btn btn-warning btn-sm"
						onclick="return confirmAction('update')"><i class="fa fa-pencil-alt" style=
						"margin:5px;"></i>Update</a></td>
					<td><a th:href="@{'/delete/'+${employee.id}}"
						class="btn btn-danger btn-sm"
						onclick="return confirmAction('delete')"><i class="fa fa-trash-alt" style=
						"margin:5px;"></i>Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- FOOTER -->
	<div th:replace="header :: Footer"></div>

	<!-- JS -->
	<script>
    function confirmAction(action) {
      return confirm(`Are you sure you want to ${action} this employee?`);
    }
  </script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
